$theme-primary-color: #42b983;
$theme-secondary-color: #94beab;
$theme-third-color: #6b6b6b;

$text-primary-color: #1e9962;
$text-secondary-color: #6d9e89;
$text-third-color: #e6fff4;

$negative-primary-color: #e78270;
$negative-secondary-color: #ecb7ae;
$negative-third-color: #ffe4df;